<div style="background-color: lightgray;height: 5px;width: 100%;"></div>

<div id="parent-div">
  <div id="side-nav">
    <i class="fa fa-bars" style="margin-right: 10px;">

    </i>
    <br>
    <i class="fa fa-inbox"></i>

    <br>
    <i class="fa fa-edit" style="font-size: 20px;">

    </i>
  </div>
  <div id="main-div">
    <div class="container">
      <span class="fas fa-atom" style="font-size: 20px;"><b>atom</b></span><a style="float: right;margin-right: 10px;"
        routerLink="">BackToBook1</a>
    </div>
    <div class="div-align">
      <span style="color: blueviolet;">
        Books
      </span><button class="btn btn-primary">Create New Book</button>

    </div>
    <div style="width: 40%;margin-left: 10px;">

      <div>
        <app-search (searchTextChanged)="onSeachTextEnter($event)"></app-search>
      </div>
    </div>
    <span style="margin-left: 10px;margin-top: 20px;color: blueviolet;">All Books</span>
    <div class="row">
      <div class="col-sm-4 standard card" *ngFor="let data of result" style=" border-left: 4px solid yellow;">
        <mat-card style="margin-left: 10px;">

          <mat-card-header>
            <mat-card-content>
              <mat-card-title><b>Authors:</b>{{data.volumeInfo.authors}}</mat-card-title>
              <mat-card-title><b>Publisher:</b>{{data.volumeInfo.publisher}}</mat-card-title>
              <mat-card-title><b>Authors:</b>{{data.volumeInfo.publishedDate}}</mat-card-title>

            </mat-card-content>

          </mat-card-header>
        </mat-card>
      </div>
    </div>

  </div>
</div>